/* Start Global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}

body {}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

/* End Global */

/* Start navbar */
.navbar {
    background-color: #929292;
    font-size: 20px;
    font-family: Calibri;
    height: 0px;
    color: #1abc9c;
    position: relative;
    z-index: 2;
}

.navbar .brand {
    float: left;
    width: 60%;
    color: rgb(230, 230, 230);
    font: 1em sans-serif;
    font-size: 22px;
}

.navbar .links {
    float: left;
    margin-top: 15px;
    width: 40%;
    font-weight: bold;
}

.navbar .links li {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 0px;
    border-bottom: 2px solid transparent;
}

.navbar .links li.active {
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
}

.navbar .links li:hover {
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
}

/*  End navbar   */


/* Start header */

.bgimg{
    background-image: url(../images/back2560.jpg);
}

.bgimg .bx-wrapper {
    box-shadow: none;
    border: 0px;
    background:none;
    height: 100% !important;
    text-align: center;
    position:absolute;
    z-index: 1;
}
.bgimg .slider{
    height: 100% ;
    position: absolute;
    z-index: 3;
}
.bgimg .slider li{
    display: block;
    background-color: rgb(107, 0, 0);
}

/* End Slider */



/* Start My constants */
.clearfix {
    clear: both;
}

/* End My constants */