/* Start Global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}

body {}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

/* End Global */

/* Start Header */
.navbar {
    background-color: #929292;
    font-size: 20px;
    font-family: Calibri;
    height: 0px;
    color: #1abc9c;
    position: relative;
    z-index: 2;
}

.navbar .brand {
    float: left;
    width: 60%;
    color: rgb(230, 230, 230);
    font: 1em sans-serif;
    font-size: 22px;
}

.navbar .links {
    float: left;
    margin-top: 15px;
    width: 40%;
    font-weight: bold;
}

.navbar .links li {
    display: inline-block;
    margin: 0 15px;
    padding: 10px 0px;
    border-bottom: 2px solid transparent;
}

.navbar .links li.active {
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
}

.navbar .links li:hover {
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
}


/* End Header */


/* Start Slider */

.slider {
    background-image: url('../images/sildde1 (Custom).jpg');
}

.slider .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

/* End Slider */


/* Start My constants */
.clearfix {
    clear: both;
}

/* End My constants */